body {
    font-family: serif;
    background-color: azure;
    margin: 40px;
    color: black;
    padding: 20px;
}
h1 {
    color: blue;
    text-align: center;
    text-decoration: underline;
}
h2 {
    color: aquamarine;
}
p {
    line-height: 2;
}
a {
    color:blueviolet;
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: brown;
}
img {
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    border: 20px solid blue;
}
ul {
    margin-left: 20px;
}
li {
    margin-bottom: 10px;
}
table {
    width: 80%;
    margin: 30px auto;
    border-collapse: separate;
    background-color: aqua;
    
}
th, td {
    border: 2px solid black;
    padding: 12px;
    text-align: left;
}
th {
    background-color: peachpuff;
    color: brown;
    font-weight: bold;
}
td {
    background-color: aquamarine;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}